.Search {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  width: 50%;
  margin: 30px auto;
}

.Question {
  text-align: center;
  margin-bottom: 1rem;
}

.Form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
}

.ResultsAndPhotosContainer {
  display: flex;
  flex-basis: 100%;
}

.ResultsContainer {
  flex: 2;
  padding: 10px;
  text-align: left;
  margin-right: 20px;
}

.PhotosContainer {
  flex: 2;
  padding: 5px;
  margin-left: 20px;
}

.Photos {
  max-width: 100%;
}
