PhotosContainer {
  width: 100%;
  display: block;
  margin-top: -5px;
}

.Photos img {
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
}
